{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
  {{- $dateFormat := "" }}
  {{- if eq .Site.Language.Lang "en" }}
    {{- $dateFormat = .Site.Params.dateFormatEn }}
  {{- else if eq .Site.Language.Lang "vi" }}
    {{- $dateFormat = .Site.Params.dateFormatVi }}
  {{- end }}
  {{- $formattedDate := printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format $dateFormat) }}
  {{- $scratch.Add "meta" (slice $formattedDate) }}
{{- end }}


{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" -}}
{{- end -}}
