.logo a img, .logo a svg {
    display: none;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0,-10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}
.footer span:last-child {
    white-space: normal; 
}
.first-entry .entry-content {
    margin: 5px 0 0 0;
    font-size: 14px; 
}
.entry-content {
    margin: 5px 0 0 0; 
}
.copy-code { 
    border-radius: 0; 
}
.pagination a {
    border-radius: 0;
    box-shadow: 0 0 5px #111;
}
.pagination a:hover {
    box-shadow: 0 0 9px #000; 
}
.post-entry {
    border-radius: 0; 
    box-shadow: 0 0 5px #111;  
}
.post-entry:hover { 
    box-shadow: 0 0 9px #000; 
}
.post-content h2 {
    border-top: solid 1px #444;
    padding-top: 20px;
}
.toc {
    border-radius: 0;
    box-shadow: 0 0 5px #111;
    margin: 0;
    background: #224!important;
    border: solid 1px #777;
}
.toc:hover {
    box-shadow: 0 0 9px #000; 
}
.paginav { 
    border-radius: 0;
}


.post-tags a, .share-buttons, .paginav {
    border-radius: 0;
    background: none;
    border: none;
}
.paginav { 
    display: flex;
    flex-wrap: wrap; 
}
.paginav .prev, .paginav .next {
    width: 100%;
    margin: 8px 0;
    padding: 10px 16px;
    line-height: 20px;
    border-radius: 0;
    font-size: 15px;
    box-shadow: 0 0 5px #111;
    background: var(--entry);
    border: solid 1px #777;
}

.paginav:hover .prev:hover, .paginav:hover .next:hover { 
    background: var(--entry);
    box-shadow: 0 0 9px #000; 
}
.paginav .title {
    font-size: small;
    letter-spacing: 0;
    text-transform: none;
    color: var(--secondary);
}
.toc details summary { 
    margin-inline-start: 10px;
}
.post-meta .i18n_list li {
    display: inline-flex;
    list-style: none;
    margin: auto 3px;
    box-shadow: none;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}
.entry-cover img {
    border-radius: 0;
    box-shadow: 0 0 5px #111;
}



 

select#bloodGroupSelect, #nationalitySelect, #genderSelect  {
    padding: 5px;
}
#employeeList {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
} 
.employee {
    font-size: 12px;
    max-width: 90px;
    margin: 15px 6px;
    border-radius: 0;
    background: #444;
}
.employee:hover {
    box-shadow: 0px 0px 10px #000;
}
.employee img {
    width: 100%;
    border-radius: 0;
    margin: 0;
}

.employee p {
    padding: 5px;
    margin: 0;
    text-align: center;
}
option {
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}