<br><h4>Comments</h4>
<div id="cusdis_thread" style="
margin-top: 10px;
    padding: 12px;
    background: #121212;
    box-shadow: 0 0 5px #111;
    border: solid 1px #444;
    "
  data-host="https://cusdis.com"
  data-theme="dark"
  data-app-id="5441c146-97a1-4db5-b1e0-c9bfc3e788c4"
  data-page-id="{{ .File.UniqueID }}" data-page-url="{{ .Permalink }}"
  data-page-title="{{ .Title }}"></div>
</div>
<script defer src="https://cusdis.com/js/widget/lang/vi.js"></script>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>