{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">

  {{ if eq $.Lang "en" }}
  <!-- Ghi chú tiếng Anh 
  <header class="entry-header">
    <h1>News & Game Wikis</h1>
</header>
<div class="entry-content">
  Look up information about your favorite game
</div>
-->
<footer class="entry-footer">
    {{ partial "social_icons.html" site.Params.socialIcons }}
    
    <!-- Ghi chú tiếng Anh
    <br><br>
    <article class="post-entry"> 
        <header class="entry-header">
          <h2>Onmyoji Wiki
          </h2>
        </header>
        <div class="entry-content">
          <p>Look up information about Onmyoji Wiki - Server Global & Japan in 2023</p>
        </div>
        <a class="entry-link" aria-label="Onmyoji" href="onmyoji/"></a>
      </article> -->

  {{ end }}

  {{ if eq $.Lang "vi" }}
  <!-- Ghi chú tiếng Việt 
  <header class="entry-header">
    <h1>Tin Tức & Game Wikis</h1>
</header>
<div class="entry-content">
    Tra cứu thông tin về trò chơi yêu thích 
</div>
-->
<footer class="entry-footer">
    {{ partial "social_icons.html" site.Params.socialIcons }}
  
    <!-- Ghi chú tiếng Việt 
    <br><br>
    <article class="post-entry"> 
        <header class="entry-header">
          <h2>Onmyoji Wiki
          </h2>
        </header>
        <div class="entry-content">
          <p>Các bài viết về Onmyoji Wiki - Server Global & Japan năm 2023</p>
        </div>
        <a class="entry-link" aria-label="Onmyoji" href="onmyoji/"></a>
      </article>-->
      
  {{ end }}

  
           
    </footer>
</article>
{{- end -}}
