
body {
    font-size: 15px;
    background-color: #1e1e20;
    margin: 0 auto;
    color: #ddd;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    width: 100%;
}
a {
    text-decoration: none;
    color: #ddd;
    border-bottom: dashed 1px orange; 
}
a:hover {
   color:orange;
}
ul {display: block;list-style-type: disc;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;padding-inline-start: 30px;padding-right: 15px;}
ol {display: block;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;padding-inline-start: 30px;padding-right: 15px;}
ol li {margin-bottom: 10px;}
li {
    margin-bottom: 5px; 
}
h1 {margin: 0;font-size: 1.7em;padding: 15px;}
h2 {margin: 0;font-size: 1.5em;padding: 15px;} 
h3 {margin: 0;font-size: 1.2em;padding: 15px;} 
p {
    padding: 15px;
    margin: 0; 
}
img {border-style: none;display: inline-block;} 
.center{text-align: center;}

.box_top-filter {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px; 
    background: #444;
}

#myBtnContainer { 
    padding: 5px;
    overflow-x: auto;
    white-space: nowrap; 
}
.btn {
	border: none;
	outline: none;
	cursor: pointer;
	background: none;
	padding: 0px;
}
.btn img {
    width: 50px;
    height: 50px;
    border: solid 1px #333;
    border-radius: 5px;
}
.btn img:hover {
	border: solid 1px orange;
}
.fo {
    display: none;
    background: #444;
    margin-bottom: 30px;
    width: 97%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
.show {display:block;}

.fo-id {
    padding: 10px 15px 5px 15px;
}
.fo-img {
  padding: 0px 0px 5px 0px;
  margin: 0 15px; 
  display: flex;
  flex-wrap: wrap;
}
.fo-img-2 {
    padding: 0px 15px 0px 15px;
    margin-bottom: 10px;
    display: inline-table;
} 

.fo-img img {
    height: auto;
    width: 15.6%;
    padding-right: 1%;
    padding-top: 5px;
    border-radius: 3px;
}
.fo-img-2 img {
    width: 66px;
    height: auto;
    padding-right: 5px;
    padding-top: 5px;
    border-radius: 10px;
}

.fo-info {
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    background: #333;
    border-radius: 10px 10px 0 0;
    align-items: center;
    justify-content: space-between;
}







 





@media screen and (max-width:480px) {
 /* setting all */
h1 {font-size: 1.3em;padding: 15px 15px 10px 15px} 
h2 {font-size: 1.2em;padding: 15px 15px 10px 15px} 

::-webkit-autobar {width: auto;height: auto;}
/* filter */
 
#myBtnContainer {margin: 0 10px;}
 
}