<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $("#bloodGroupSelect, #nationalitySelect, #genderSelect").change(function() {
      const bloodGroupFilter = $("#bloodGroupSelect").val();
      const nationalityFilter = $("#nationalitySelect").val();
      const genderFilter = $("#genderSelect").val();
      
      $(".employee").each(function() {
        const bloodGroup = $(this).attr("data-blood-group");
        const nationality = $(this).attr("data-nationality");
        const gender = $(this).attr("data-gender");
        
        if ((bloodGroupFilter === "" || bloodGroupFilter === bloodGroup) &&
            (nationalityFilter === "" || nationalityFilter === nationality) &&
            (genderFilter === "" || genderFilter === gender)) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    });
  });
</script>