<div>
      <select id="bloodGroupSelect">
        <option value="">Độ hiếm</option>
        <option value="SP">SP</option> 
        <option value="SSR">SSR</option> 
        <option value="SR">SR</option> 
        <option value="R">R</option> 
        <option value="N">N</option> 
      </select>
      <select id="nationalitySelect">
        <option value="">Chọn quốc tịch</option>
        <option value="Việt Nam">Việt Nam</option>
        <option value="Mỹ">Mỹ</option>
        <option value="Tây Ban Nha">Tây Ban Nha</option>
        <option value="Nhật Bản">Nhật Bản</option>
        <option value="Đức">Đức</option>
      </select>
      <select id="genderSelect">
        <option value="">Chọn giới tính</option>
        <option value="Nam">Nam</option>
        <option value="Nữ">Nữ</option>
      </select>
    </div>
    <div id="employeeList">
      <div class="employee" data-blood-group="SP" data-nationality="Việt Nam" data-gender="Nam"><a href="#"><img src="../../1/alyx.jpg"><p>Greenwarden Shishio</p><p>SSR</p></a></div>
      <div class="employee" data-blood-group="SSR" data-nationality="Việt Nam" data-gender="Nam"><a href="#"><img src="../../1/asurax.jpg"><p>Fallen God Orochi</p><p>SP</p></a></div>
      <div class="employee" data-blood-group="SSR" data-nationality="Việt Nam" data-gender="Nam"><a href="#"><img src="../../1/asurax.jpg"><p>Fallen God Orochi</p><p>SP</p></a></div>
      <div class="employee" data-blood-group="SSR" data-nationality="Việt Nam" data-gender="Nam"><a href="#"><img src="../../1/asurax.jpg"><p>Fallen God Orochi</p><p>SP</p></a></div>
      <div class="employee" data-blood-group="SSR" data-nationality="Việt Nam" data-gender="Nam"><a href="#"><img src="../../1/asurax.jpg"><p>Fallen God Orochi</p><p>SP</p></a></div>
      <div class="employee" data-blood-group="SSR" data-nationality="Việt Nam" data-gender="Nam"><a href="#"><img src="../../1/asurax.jpg"><p>Fallen God Orochi</p><p>SP</p></a></div>
      <div class="employee" data-blood-group="SSR" data-nationality="Việt Nam" data-gender="Nam"><a href="#"><img src="../../1/asurax.jpg"><p>Fallen God Orochi</p><p>SP</p></a></div>
      <div class="employee" data-blood-group="SSR" data-nationality="Việt Nam" data-gender="Nam"><a href="#"><img src="../../1/asurax.jpg"><p>Fallen God Orochi</p><p>SP</p></a></div>
      <div class="employee" data-blood-group="SSR" data-nationality="Việt Nam" data-gender="Nam"><a href="#"><img src="../../1/asurax.jpg"><p>Fallen God Orochi</p><p>SP</p></a></div>
      <div class="employee" data-blood-group="SSR" data-nationality="Việt Nam" data-gender="Nam"><a href="#"><img src="../../1/asurax.jpg"><p>Fallen God Orochi</p><p>SP</p></a></div>
      <div class="employee" data-blood-group="SSR" data-nationality="Việt Nam" data-gender="Nam"><a href="#"><img src="../../1/asurax.jpg"><p>Fallen God Orochi</p><p>SP</p></a></div>
      <div class="employee" data-blood-group="SSR" data-nationality="Việt Nam" data-gender="Nam"><a href="#"><img src="../../1/asurax.jpg"><p>Fallen God Orochi</p><p>SP</p></a></div>
      <div class="employee" data-blood-group="SSR" data-nationality="Việt Nam" data-gender="Nam"><a href="#"><img src="../../1/asurax.jpg"><p>Fallen God Orochi</p><p>SP</p></a></div>
      <div class="employee" data-blood-group="SSR" data-nationality="Việt Nam" data-gender="Nam"><a href="#"><img src="../../1/asurax.jpg"><p>Fallen God Orochi</p><p>SP</p></a></div>
      <div class="employee" data-blood-group="SSR" data-nationality="Việt Nam" data-gender="Nam"><a href="#"><img src="../../1/asurax.jpg"><p>Fallen God Orochi</p><p>SP</p></a></div>
      <div class="employee" data-blood-group="SSR" data-nationality="Việt Nam" data-gender="Nam"><a href="#"><img src="../../1/asurax.jpg"><p>Fallen God Orochi</p><p>SP</p></a></div>
      <div class="employee" data-blood-group="SSR" data-nationality="Việt Nam" data-gender="Nam"><a href="#"><img src="../../1/asurax.jpg"><p>Fallen God Orochi</p><p>SP</p></a></div>
      <div class="employee" data-blood-group="SSR" data-nationality="Việt Nam" data-gender="Nam"><a href="#"><img src="../../1/asurax.jpg"><p>Fallen God Orochi</p><p>SP</p></a></div>
      <div class="employee" data-blood-group="SSR" data-nationality="Việt Nam" data-gender="Nam"><a href="#"><img src="../../1/asurax.jpg"><p>Fallen God Orochi</p><p>SP</p></a></div>
      <div class="employee" data-blood-group="SSR" data-nationality="Việt Nam" data-gender="Nam"><a href="#"><img src="../../1/asurax.jpg"><p>Fallen God Orochi</p><p>SP</p></a></div>
    </div> 